# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Korisnik\Desktop\TVZ Materijali\3. Semestar\Programiranje u jeziku Java\Lab - pripreme\Dusak-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
